<div class="container-fluid" style="background: url(../../../assets/background.png);">
<div class="col-sm-12" id="image">
  <img src="assets/library.jpg" style="border-radius: 10px; width: fit-content;">
</div>





<div class="row" id="row">
      <div class="col-sm-4" *ngFor="let b of books" >
<div class="card"  id="card">
    <img class="card-img-top " [src]="download+b.image" alt="image" (click)="viewImage(b.image)">
    <div class="card-body" id="body">
        
      <h5 class="card-title" [title]="b.book">{{editText(b.book,12)}}</h5>
      <p class="card-text" [title]="b.description">{{editText(b.description,15)}}</p>
      <p class="card-text">Qiymət: {{b.price | currency:'USD'}} </p>
      <p class="card-text" [title]="b.author">Müəllif: {{editText(b.author,12)}}</p>
    </div>
    <button class="btn btn-primary" (click)="onBasket(b)" >Səbətə at</button>
  </div>
</div>
</div>
</div>





<div
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()"
>
<input type="text" id="search" (input)="onSearch()" placeholder="Axtar..." [(ngModel)]="search">
<button class="btn btn-warning" id="basket" (click)="onOpenBasket()">Səbət <span class="badge badge-light" style="background-color: red;">{{count}}</span></button>

