<div class="login">
    <table>
        <tbody>
            <tr>

                <td>İstifadəçi adı : </td>
                <td><input type="text" placeholder="İstifadəçi adınızı daxil edin." [(ngModel)]="user.username"></td>
            </tr>
            <tr>

                <td>Şifrə : </td>
                <td><input type="password" placeholder="Şifrənizi daxil edin." [(ngModel)]="user.password"></td>
            </tr>
            <tr>
                <td>
                <button class="btn btn-primary" (click)="onSignUp()">Qeydiyyat et</button>
            </td>
            <td *ngIf="!isUserLoggedIn()">
                <button (click)="onLogin()" class="btn btn-success"> Daxil ol</button>
            </td>
            <td *ngIf="isUserLoggedIn()">
                <button routerLink="/logout" class="btn btn-danger">Çıxış</button>
            </td>
            
            </tr>
        </tbody>

    </table>
</div>
